<div class="flex w-full justify-center">
  <p-toast />
  <p-card [style]="{ width: '30vw' }">
    <p-button
      icon="pi pi-angle-left"
      [text]="true"
      [rounded]="true"
      [style]="{ margin: '0 0 10px 0' }"
      (onClick)="back()"
    />
    <div class="flex flex-col items-center gap-8">
      <h1 class="font-bold text-3xl">{{ title }}</h1>
      <form
        class="flex flex-col gap-5 w-4/5"
        (ngSubmit)="save(objForm.value)"
        [formGroup]="objForm!"
      >
        <mat-form-field>
          <mat-label>Brand</mat-label>
          <input
            #inputBrand
            formControlName="brand"
            matInput
            maxlength="100"
            type="text"
            required
          />
          <mat-hint align="end"
            >{{ inputBrand.value.length || 0 }}/100</mat-hint
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Model</mat-label>
          <input
            #inputModel
            formControlName="model"
            matInput
            maxlength="100"
            type="text"
            required
          />
          <mat-hint align="end"
            >{{ inputModel.value.length || 0 }}/100</mat-hint
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Year</mat-label>
          <input
            #inputYear
            formControlName="constructionYear"
            matInput
            type="number"
            required
            min="1900"
            max="2100"
          />
          <mat-hint align="end">{{ inputYear.value.length || 0 }}/4</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Airline</mat-label>
          <input
            #inputAirline
            formControlName="airline"
            matInput
            type="text"
            required
            maxlength="100"
          />
          <mat-hint align="end"
            >{{ inputAirline.value.length || 0 }}/100</mat-hint
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Seat Capacity</mat-label>
          <input
            #inputSeatCapacity
            formControlName="seatCapacity"
            matInput
            type="number"
            required
            min="1"
            max="1000"
          />
          <mat-hint align="end"
            >{{ inputSeatCapacity.value.length || 0 }}/4</mat-hint
          >
        </mat-form-field>

        <div class="flex justify-end">
          <button
            [disabled]="!objForm.valid"
            color="primary"
            mat-raised-button
            class="w-52"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </p-card>
</div>
