<div class="flex w-full justify-center">
  <p-toast />
  <p-card [style]="{ width: '30vw' }">
    <p-button
      icon="pi pi-angle-left"
      [text]="true"
      [rounded]="true"
      [style]="{ margin: '0 0 10px 0' }"
      (onClick)="back()"
    />
    <div class="flex flex-col items-center gap-8">
      <h1 class="font-bold text-3xl">{{ title }}</h1>
      <form
        class="flex flex-col gap-5 w-4/5"
        (ngSubmit)="save(objForm.value)"
        [formGroup]="objForm!"
      >
        <mat-form-field>
          <mat-label>Lastname</mat-label>
          <input
            #inputLastname
            formControlName="lastname"
            matInput
            maxlength="100"
            type="text"
            required
          />
          <mat-hint align="end">
            {{ inputLastname.value.length || 0 }}/100
          </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Firstname</mat-label>
          <input
            #inputFirstname
            formControlName="firstname"
            matInput
            maxlength="100"
            type="text"
            required
          />
          <mat-hint align="end">
            {{ inputFirstname.value.length || 0 }}/100
          </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Age</mat-label>
          <input
            #inputAge
            formControlName="age"
            matInput
            type="number"
            required
            min="0"
            max="999"
          />
          <mat-hint align="end"> {{ inputAge.value.length || 0 }}/3 </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nationality</mat-label>
          <input
            #inputNationality
            formControlName="nationality"
            matInput
            maxlength="50"
            type="text"
            required
          />
          <mat-hint align="end">
            {{ inputNationality.value.length || 0 }}/50
          </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Created By</mat-label>
          <input
            #inputCreatedBy
            formControlName="createdBy"
            matInput
            maxlength="255"
            type="text"
            required
          />
          <mat-hint align="end"
            >{{ inputCreatedBy.value.length || 0 }}/255</mat-hint
          >
        </mat-form-field>

        <div class="flex justify-end">
          <button
            [disabled]="!objForm.valid"
            color="primary"
            mat-raised-button
            class="w-52"
          >
            {{ buttonLabel }}
          </button>
        </div>
      </form>
    </div>
  </p-card>
</div>
