<div class="flex flex-col items-center justify-evenly h-[75vh]">
  <div class="flex justify-evenly w-3/4">
    <app-task-card
      taskTitle="Manage Passengers"
      taskIcon="pi-id-card"
      route="/passengers"
    />
    <app-task-card
      taskTitle="Manage Bookings"
      taskIcon="pi-calendar"
      route="/bookings"
    />
  </div>
  <div class="flex justify-evenly w-3/4" *appIsInRole="'admin'">
    <app-task-card
      taskTitle="Manage Airplanes"
      taskIcon="pi-send"
      route="/airplanes"
    />
    <app-task-card
      taskTitle="Manage Flights"
      taskIcon="pi-globe"
      route="/flights"
    />
  </div>
</div>
