<div class="flex w-full justify-center">
  <p-toast />
  <p-card [style]="{ width: '35vw' }">
    <p-button
      icon="pi pi-angle-left"
      [text]="true"
      [rounded]="true"
      [style]="{ margin: '0 0 10px 0' }"
      (onClick)="back()"
    />
    <div class="flex flex-col items-center gap-8">
      <h1 class="font-bold text-3xl">{{ title }}</h1>
      <form
        class="flex flex-col gap-5 w-4/5"
        (ngSubmit)="save(objForm.value)"
        [formGroup]="objForm!"
      >
        <mat-form-field>
          <mat-label>Passenger</mat-label>
          <mat-select formControlName="passenger" required>
            @for (passenger of passengers; track passenger) {
            <mat-option [value]="passenger.id">{{
              passenger.firstname + " " + passenger.lastname
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Origin</mat-label>
          <input
            #inputOrigin
            formControlName="origin"
            matInput
            maxlength="100"
            type="text"
            required
          />
          <mat-hint align="end"
            >{{ inputOrigin.value.length || 0 }}/100</mat-hint
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Destination</mat-label>
          <input
            #inputDestination
            formControlName="destination"
            matInput
            maxlength="100"
            type="text"
            required
          />
          <mat-hint align="end"
            >{{ inputDestination.value.length || 0 }}/100</mat-hint
          >
        </mat-form-field>
        <div class="flex gap-5">
          <mat-form-field appearance="fill">
            <mat-label>Departure Date</mat-label>
            <input
              matInput
              [matDatepicker]="departurePicker"
              formControlName="departureDate"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="departurePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #departurePicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Departure Time</mat-label>
            <input
              matInput
              [matTimepicker]="departureTimepicker"
              formControlName="departureTime"
              required
            />
            <mat-timepicker #departureTimepicker></mat-timepicker>
            <mat-timepicker-toggle
              [for]="departureTimepicker"
              matSuffix
            ></mat-timepicker-toggle>
          </mat-form-field>
        </div>
        <div class="flex gap-5">
          <mat-form-field appearance="fill">
            <mat-label>Arrival Date</mat-label>
            <input
              matInput
              [matDatepicker]="arrivalPicker"
              formControlName="arrivalDate"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="arrivalPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #arrivalPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Arrival Time</mat-label>
            <input
              matInput
              [matTimepicker]="arrivalTimepicker"
              formControlName="arrivalTime"
              required
            />
            <mat-timepicker #arrivalTimepicker></mat-timepicker>
            <mat-timepicker-toggle
              [for]="arrivalTimepicker"
              matSuffix
            ></mat-timepicker-toggle>
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>First Flight</mat-label>
          <mat-select formControlName="firstFlight" required>
            @for (flight of flights; track flight) {
            <mat-option [value]="flight.id">{{
              flight.origin + " - " + flight.destination
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Second Flight</mat-label>
          <mat-select formControlName="secondFlight">
            @for (flight of flights; track flight) {
            <mat-option [value]="flight.id">{{
              flight.origin + " - " + flight.destination
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>First Flight</mat-label>
          <mat-select formControlName="thirdFlight">
            @for (flight of flights; track flight) {
            <mat-option [value]="flight.id">{{
              flight.origin + " - " + flight.destination
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div class="flex gap-5">
          <mat-form-field appearance="fill">
            <mat-label>Booking Date</mat-label>
            <input
              matInput
              [matDatepicker]="bookingDatePicker"
              formControlName="bookingDate"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="bookingDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #bookingDatePicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Booking Time</mat-label>
            <input
              matInput
              [matTimepicker]="bookingTimePicker"
              formControlName="bookingTime"
              required
            />
            <mat-timepicker #bookingTimePicker></mat-timepicker>
            <mat-timepicker-toggle
              [for]="bookingTimePicker"
              matSuffix
            ></mat-timepicker-toggle>
          </mat-form-field>
        </div>
        <div class="flex justify-end">
          <button
            [disabled]="!objForm.valid"
            color="primary"
            mat-raised-button
            class="w-52"
          >
            {{ buttonLabel }}
          </button>
        </div>
      </form>
    </div>
  </p-card>
</div>
